<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="database"
	          xsi:type="Database"
	          connectionStringName="MunicipalitiesDbContext"
	          commandText="insert into dbo.Log (Level,CallSite,Type,Message,StackTrace,InnerException,AdditionalInfo,Timestamp) values(@level,@callSite,@type,@message,@stackTrace,@innerException,@additionalInfo,@timestamp);">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
		             layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
      <parameter name="@timestamp" layout="${date}" />
    </target>
    <target name="filelog"
			  xsi:type="File"
			  fileName="C:\Temp\Logs\Municipalities_Log_${date:format=yyyyMMdd}.txt"
			  layout="Timestamp: ${date} | ${level} | GeneralMessage: ${message} | Message: ${exception:format=message} | CallSite: ${callsite} ${newline}
			  Exception type: ${exception:format=type} ${newline}
			  Exception stack trace: ${exception:format=stackTrace} ${newline}
			  Exception inner: ${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=} ${newline}" />

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Error" writeTo="filelog" />
    <logger name="databaseLogger" minlevel="Info" writeTo="database" />
  </rules>
</nlog>
